@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0px 1px 1px rgba(200, 200, 200, 0.4);
}

.header__left {
  display: flex;
}

.header__youtubeLogo {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.header__youtubeIcon {
  color: red;
  font-size: 30px !important;
}

.header__youtubeLogo span {
  font-weight: bold;
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  color: #333;
}

.header__youtubeLogoLink {
  text-decoration: none;
}

.header__middle {
  display: flex;
  align-items: center;
  width: 40%;
  border: 1px solid #ccc;
}

.header__middle input {
  flex: 1;
  border: none;
  height: 28px;
  padding: 1px 10px;
  outline: none;
  font-size: 17px;
}

.header__middle input:focus {
  box-shadow: 0px 0px 3px -3px rgba(0, 0, 0, 0.5),
    0px 0px 3px 3px rgba(200, 200, 200, 0.5);
}

.header__searchButton {
  border: none;
  outline: none;
  cursor: pointer;
}

.header__searchIcon {
  width: 50px !important;
  background-color: #fafafa;
  border-left: 1px solid lightgray;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__rightIcon {
  margin: 0px 10px;
}
