.RecommendedVideos{
	flex:0.8;
	background-color: #f9f9f9;
	padding: 40px 20px 0px 20px;
}

.RecommendedVideos > h2{
	margin-left: 5px;
	margin-bottom: 20px;
}

.RecommendedVideos__videos{
	display: flex;
	flex-wrap:wrap;
}

.video{
	width: 270px;
	margin-bottom: 40px;
}

.video__thumbnail{
	height: 140px;
	width: 250px;
}

.video__info{
	display: flex;
	margin-top: 10px;
	padding-right: 30px;
}

.video__text{
	margin-left: 10px;
}

.video__text > h4{
	margin-bottom:5px ;
	font-size: 14px;
}

.video__text > p{
	font-size:14px;
	color:gray;
}

.video__channelPic{
	height: 30px !important;
	width: 30px !important;
}