.searchPage {
  flex: 0.8;
  padding: 20px;
  background-color: #f9f9f9;
}

a {
  text-decoration: none;
  color: inherit;
}

.searchPage__filter {
  display: flex;
  align-items: center;
  color: #606060;
  font-size: xx-large !important;
  padding: 0px 0px 10px 10px;
  margin-bottom: 10px;
  box-shadow: 0px 1px 1px rgba(200, 200, 200, 0.5);
}

.searchPage__filter > h3 {
  margin-left: 10px;
  font-size: 20px;
}

/*channelRow styles */
.channelRow {
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 1px rgba(200, 200, 200, 0.5);
}

.channelRow__avatar {
  height: 120px !important;
  width: 120px !important;
  margin: 10px 60px;
}

.channelRow__text {
  display: flex;
  flex-direction: column;
}

.channelRow__text > h4 {
  display: flex;
  align-items: center;
}

.channelRow__text > p {
  color: #606060;
  font-size: small !important;
}

/*videoRow styles */
.videoRow {
  display: flex;
  margin: 20px 0px;
  min-width: 700px;
}

.videoRow > img {
  object-fit: contain;
  width: 246px;
  height: 138px;
}

.videoRow__text {
  margin-left: 14px;
}

.videoRow__desc {
  color: #606060;
  font-size: 12px;
  margin-top: 20px;
}

.videoRow__headline {
  margin-top: 5px;
  font-size: 12px;
  color: #606060;
}

.videoRow__headline > span {
  background-color: lightgray;
  padding: 2px;
  margin: 0px 5px;
}

.videoRow__headline > span > span {
  font-weight: bolder;
  color: rgb(84, 157, 211);
}
