.sidebar{
	flex:0.2;
	position: sticky;
	top:0;
}

.sidebar > div{
	padding: 10px 0px;
	box-shadow:0px 1px 0px rgba(100,100,100,0.1);
}

.sidebarRow{
	display: flex;
	align-items: center;
	padding: 10px 20px;
	cursor:pointer;
	transition:background .2s ease-in-out;
}

.sidebarRow:hover{
	background: lightgray;
}

.sidebarRow.selected{
	background:lightgray;
}

.sidebarRow__icon{
	color:#606060;
	font-size:22px !important;
	transition:color .2s ease-in-out;
}

.sidebarRow:hover .sidebarRow__icon,
.sidebarRow.selected .sidebarRow__icon{
	color:red;
}

.sidebarRow span{
	flex:1;
	font-weight: 500px;
	font-size: 15px;
	margin-left: 5px;
}

.sidebarRow:hover span,
.sidebarRow.selected span{
	font-weight: bold;
}